* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul, li, a {
	list-style: none;
	text-decoration: none;
}

.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

.header {
	background: #000;
}

.header:hover {
	background: #c10000;
	transition: .5s;
}

.header__nav .menu__list {
	display: flex;
	justify-content: space-between;
	width: 450px;
}

.menu__link {
	font-size: 18px;
	color: #fff;
	text-transform: uppercase;
}

.menu__link:hover {
	text-decoration: underline;
	color: rgb(221, 214, 214);
}

.navigation {
	display: flex;
	justify-content: space-between;
	padding: 15px 0;
	align-items: center;
}

.logo .logo-img{
	display: block;
	width: 150px;
	height: 70px;
}

.basket {
	display: flex;
	align-items: center;
}

.basket__name {
	font-size: 18px;
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
	margin-right: 10px;
}

.basket-img {
	display: block;
	width: 60px;
	height: 60px;
	border-radius: 50%;
}

.basket-img:hover {
	box-shadow: 1px 1px 30px 10px  #fff;
	transition: .6s;
}

.basket-res {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
	color: #fff;
	font-size: 24px;
	margin-left: 5px;
}

/* search */
.search {
	background: #000;
	padding: 15px 0;
}

.search-nav {
	display: flex;
}

.search-sel {
	background: transparent;
	color: rgb(122, 118, 118);
	font-size: 18px;
	padding: 7px 0 7px 10px;
	border: none;
	border-radius: 10px;
	box-shadow: 1px 1px 30px 10px  #fff;

	margin-right: 50px;
}

.search-inp {
	background: transparent;
	color: #fff;
	font-size: 18px;
	padding: 7px 0 7px 10px;
	border: none;
	border-radius: 10px;
	box-shadow: 1px 1px 30px 10px  #fff;
}

/* produkt */
.produkt {
	background-image: url(/src/img/fon.jpg);
	min-height: 100vh;
}

h1 {
	text-align: center;
	font-size: 25px;
	color: rgb(255, 255, 255);
	padding: 15px 0;
}

.out {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding-bottom: 15px;
}

.card {
	background: transparent;
	width: 220px;
	min-height: 280px;
	margin: 10px 5px;
	position: relative;
	border-radius: 7px;
	border: 1px solid rgb(151, 147, 151);
	display: block;
	text-align: center;
}

.card:hover {
	cursor: pointer;
}

.img-page {
	display: block;
	margin: 0 auto;
	width: 200px;
	height: 200px;
}

.cost {
	font-size: 20px;
	color: #ff7a1b;
	margin-left: 10px;
}

.link-name {
	font-size: 20px;
	color: #fff;
}

.link-name:hover {
	font-size: 22px;
	color: #c10000;;
	text-decoration: underline;
}

.card-nav {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	bottom: 0;
	width: 100%;
	background: rgb(151, 147, 151);
}

.btns {
	padding: 8px;
	background: #000;
	color: #fff;
	font-size: 12px;
	border: none;
	border-radius: 5px;
	margin: 5px 0;
}

.btns:hover {
	cursor: pointer;
	color: #ec191a;
}

/* footer */
.footer {
	background: #c10000;
	min-height: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.titl-footer {
	font-size: 20px;
	color: #ffff;
}

.titl-footer:hover {
	font-size: 24px;
	transition: .6s;
}

/*! -----Backet.html----- */
.basket-store {
	background: #cfcbcb;
	width: 100%;
	height: 100vh;
}

.titl-backet {
	font-size: 30px;
	color: black;
	text-align: center;
	padding: 10px 0;
}

.basket-produkt {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 5px 0;
}

.all-btns {
	background: #000;
	color: #fff;
	padding: 5px 8px;
	border: none;
	border-radius: 50%;
}

.all-btns:hover {
	background: #fff;
	color: #000;
	background: #ec191a;
	cursor: pointer;
}

.name-goods-backet {
	width: 250px;
}

.img-arrbasket {
	display: block;
	width: 50px;
	height: 50px;
}

.name-goods-backet {
	font-size: 20px;
	color: #fff;
}

/*! -----product.html----- */

